{% extends 'base.html' %} {% block content %}
{% load static %}

        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Review title goes in these h1 tags -->
                <h1 class="post-title">{{ review.location }}</h1>
                <!-- Reviewer details goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ review.critic }} | {{ review.created_at }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>

    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ review.blurb | safe }}
                </p>
            </div>
        </div>
    </div>

{% endblock content %}