{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="post-img col-4 text-center">
            <img src="{% static 'images/default.jpg' %}" width="100%">
        </div>
        <div class="col-8">
            <!-- Review title goes in these h1 tags -->
            <h1 class="post-title">{{ review.location }}</h1>
                <!-- Reviewer details goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ review.critic }} | {{ review.created_at }}</p>
                <br>
                <h3 class="post-subtitle">{{ review.blurb | safe }}</h3>
                <br>
                <p class="card-text">
                    {{ review.review | safe }}
        </div>
    </div>
</div>

{% endblock content %}