/* styles.css */

/* General Styles */
body {
    font-family: 'Outfit', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
}

/* Navbar brand styling */
.navbar-brand {
    font-family: 'Lobster', sans-serif;
    color: lightcoral !important;
    font-size: 3rem;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: lightpink !important;
    /* Highlight color on hover/active */
    background-color: rgba(255, 255, 255, 0.1);
    /* Slight background hover effect */
    border-radius: 5px;
}

/* Responsive navbar toggler icon */
.navbar-toggler {
    border: none;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/hero.webp') no-repeat center center/cover;
    color: #ffffff;
    padding: 150px 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Review Cards */
.card {
    display: flex;
    /* Ensure all cards have the same height */
    flex-direction: column;
    height: 100%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-body {
    flex-grow: 1;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #202020;
}

.pagination {
    padding-top: 2em;
}

.page-link {
    color: #ffffff;
    text-decoration: none;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
}

.page-link:hover {
    color: lightcoral;
    border: 2px solid, lightcoral;
    background-color: #f8f9fa;
}

img {
    border-radius: 15px 50px 30px;
}

/* Footer */
footer {
    background-color: lightpink;
    color: #212529;
}

footer p {
    font-size: 70%;
    margin: 0;
    padding: 10px;
}