{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="about-img col-4 text-center">
            <img src="{% static 'images/default.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <div class="col-8">
                <!-- Name goes between these h2 tags -->
                <h2>{{ about.name }}</h2>
                <!-- Bio goes directly underneath this -->
                {{ about.bio | safe }}
            </div>
            <div class="row">
                <div class="col text-right">
                    <!-- Updated on field goes in here -->
                    <p class="text-end"><em>{{ about.updated_at }}</em></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}