{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Bio & image left -->
        <div class="col-md-6">
            <h2>{{ about.name }}</h2>
            <p class="text-start"><em>{{ about.updated_at }}</em></p>

            <div class="text-left mt-3 rounded">
                {% if "placeholder" in about.avatar_image.url %}
                <img src="{% static 'images/profile.jpg' %}" width="40%" alt="placeholder image">
                {% else %}
                <img src="{{ about.avatar_image.url }}" width="90%" alt="{{ about.title }}">
                {% endif %}
            </div>

            <p>{{ about.bio | safe }}</p>
        </div>

        <!-- Form align right -->
        <div class="col-md-6">
            <div class="my-5">
                <form method="post">
                    <h3>Let's collaborate on reviews</h3>
                    <p>Fill out the form below:</p>
                    {{ collaborate_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}